body {
  margin: 0px;
  background-color: #f1f1f1;
  color: #222;
  font-family: sans-serif;
}

h1, p {
  padding: 5px;
}

p {
  width: 60%;
}

button {
  padding: 5px;
  margin: 5px;
}

.map-container {
  position: relative;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  height: 70vh;
}

.map {
  position: absolute;
}

.bar-chart-container {
  margin: 0px;
  height: 500px;
}

.label {
  position: absolute;
}

.fact-box {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.fact-box h2 {
  margin-top:  -5px;
}

.fact-box ul {
  list-style-type: none;
  padding: 2;
}

.fact-box li {
  margin-bottom: 10px;
}

.graph-box {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: aquamarine;
}